.nav-contain{
    display: flex;
    flex-direction: row;
}

.nav-logo{
    display: flex;
    flex-direction: row;
    float: left;
    align-items: center;
}

.nav-contain h3{
    margin-right:50px ;
}

.nav-contain img{
    margin: 30px;
    width: 100px;
    margin-right: 20px;
}

.nav-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-left: auto;
}

.nav-btn p{
    margin: 20px;
}

.nav-btn p:hover{
    opacity: 50%;
}


@media (max-width: 576px){
    .nav-logo h3{
        opacity: 0%;
    }
    .nav-logo img{
        width: 60%;
    }
}

