.films-contain{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-transform: uppercase;
}

.films-images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.films-title{
    margin: 20px;
}

.films-images img{
    width: 200px;
}

.films-images img:hover{
    border: white 5px solid;
    transition: 0.3s;
    transform: scale(120%);
}